{% extends 'base.html' %}
{% block content %}
<div class="resident_record_content">
    <header style="width: 100vw;" class="bg-cyan p-2">
        <h5>Home</h5>
    </header>
    <h3 class="p-5">Issue Certificate</h3>
    <div class="m-5" style="width:80%;">
        <table class="table striped table-border mt-4"
        data-role="table"
       data-rows-steps="5, 10"
        data-rows="5">
            <thead>
                <tr class="bg-grayWhite">
                    <th>STATUS</th>
                    <th>PHOTO</th>
                    <th>NAME</th>
                    <th>GENDER</th>
                    <th>ISSUE CERTIFICATE</th>
                </tr>
            </thead>
            {% for resident in resident_data %}
                <tbody>
                    <tr>
                        <td>{{resident.status}}</td>
                        <td><img src="{{resident.resident_img_url}}" alt="" width="15%"></td>
                        <td>{{resident.first_name}} {{resident.middle_name}} {{resident.last_name}}</td>
                        <td>{{resident.gender}}</td>
                        <td>
                            
                            <button class="button light" data-role="popover" data-popover-text="View"
                            data-popover-position="top" data-popover-hide="1000" data-bs-toggle="modal" data-bs-target="#clearanceModal" onclick="clearanceModal('{{resident.first_name}}', '{{resident.middle_name}}','{{resident.last_name}}','{{resident.age}}','{{resident.resident_id}}');"><icon class="mif-profile icon mr-5"></icon>Clearance</button>
                            
                            <button class="button success" data-role="popover" data-popover-text="View"
                            data-popover-position="top" data-popover-hide="1000" data-bs-toggle="modal" data-bs-target="#indigentModal" onclick="indigentModal('{{resident.first_name}}', '{{resident.middle_name}}','{{resident.last_name}}','{{resident.age}}','{{resident.resident_id}}');"><icon class="mif-clipboard icon mr-5"></icon>Indigency</button>
                            
                            <button class="button secondary" data-role="popover" data-popover-text="Edit"
                            data-popover-position="top" data-popover-hide="1000" data-bs-toggle="modal" data-bs-target="#buildingModal" onclick="buildingModal('{{resident.first_name}}', '{{resident.middle_name}}','{{resident.last_name}}','{{resident.age}}','{{resident.resident_id}}');"><icon class="mif-event-busy icon mr-5"></icon>Building Permit</button>

                            <button class="button primary"  data-role="popover" data-popover-text="Delete"
                            data-popover-position="top" data-popover-hide="1000" data-bs-toggle="modal" data-bs-target="#residencyModal" 
                            onclick="residencyModal('{{resident.first_name}}', 
                            '{{resident.middle_name}}',
                            '{{resident.last_name}}',
                            '{{resident.age}}',
                            '{{resident.resident_id}}',
                            '{{resident.birthdate}}',
                            '{{resident.civil_status}}',
                            '{{resident.birthplace}}');"><icon class="mif-flag icon mr-5"></icon>Barangay Residency</button>

                            <button class="button primary"  data-role="popover" data-popover-text="Delete"
                            data-popover-position="top" data-popover-hide="1000" data-bs-toggle="modal" data-bs-target="#wiringModal" 
                            onclick="wiringModal('{{resident.first_name}}', 
                            '{{resident.middle_name}}',
                            '{{resident.last_name}}',
                            '{{resident.resident_id}}');">
                            <icon class="mif-flag icon mr-5"></icon>Wiring Permit</button>
                            
                            <button class="button primary"  data-role="popover" data-popover-text="Delete"
                            data-popover-position="top" data-popover-hide="1000" data-bs-toggle="modal" data-bs-target="#excavationModal" 
                            onclick="excavationModal('{{resident.first_name}}', 
                            '{{resident.middle_name}}',
                            '{{resident.last_name}}',
                            '{{resident.resident_id}}');">
                            <icon class="mif-flag icon mr-5"></icon>Excavation Clearance</button>

                            <button class="button primary"  data-role="popover" data-popover-text="Delete"
                            data-popover-position="top" data-popover-hide="1000" data-bs-toggle="modal" data-bs-target="#fencingModal" 
                            onclick="fencingModal('{{resident.first_name}}', 
                            '{{resident.middle_name}}',
                            '{{resident.last_name}}',
                            '{{resident.resident_id}}');">
                            <icon class="mif-flag icon mr-5"></icon>Fencing Clearance</button>

                            <button class="button primary"  data-role="popover" data-popover-text="Delete"
                            data-popover-position="top" data-popover-hide="1000" data-bs-toggle="modal" data-bs-target="#waterModal" 
                            onclick="waterModal('{{resident.first_name}}', 
                            '{{resident.middle_name}}',
                            '{{resident.last_name}}',
                            '{{resident.resident_id}}');">
                            <icon class="mif-flag icon mr-5"></icon>Water Installation Permit</button>

                        </td>
                    </tr>
                </tbody>
                {% endfor %}
        </table>
    </div>
</div>

<!--clearance modal-->
<div class="modal fade" id="clearanceModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModal"><icon class="mif-info icon mr-4"></icon>Barangay Clearance</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- START FORM -->
        <form action="/generate_clearance/" method="post">
          {% csrf_token %}
        <div class="modal-body">
                <p><b>Date When Will Clearance Be Given</b></p>
                <input type="date" data-role="input" class="" name="date">

                 <!-- Hidden Data -->
                 <input type="hidden" name="clearance_full_name" id="clearance_full_name"/> 
                 <input type="hidden" name="clearance_age" id="clearance_age"/> 
                 <input type="hidden" name="clearance_resident_id" id="clearance_resident_id"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><icon class="mif-cancel mr-3"></icon>Close</button>
          <button type="submit" class="btn btn-primary"><icon class="mif-arrow-right mr-3"></icon>Proceed</button>
        </div>
      </form>
      </div>
    </div>
  </div>

  <!--indigent modal-->
<div class="modal fade" id="indigentModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModal"><icon class="mif-info icon mr-4"></icon>Barangay Indigency</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- START FORM -->
        <form action="/generate_indigent/" method="post">
            {% csrf_token %}
        <div class="modal-body">
                <p><b>Purpose</b></p>
                <input type="text" data-role="input" class="" name="purpose" required>

                <p><b>Date When Will Indigent Be Given</b></p>
                <input type="date" data-role="input" class="" name="date" required>

                <!-- Hidden Data -->
                <input type="hidden" name="indigent_full_name" id="indigent_full_name"/> 
                <input type="hidden" name="indigent_age" id="indigent_age"/> 
                <input type="hidden" name="indigent_resident_id" id="indigent_resident_id"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><icon class="mif-cancel mr-3"></icon>Close</button>
          <button type="submit" class="btn btn-primary"><icon class="mif-arrow-right mr-3"></icon>Proceed</button>
        </form>
        </div>
      </div>
    </div>
  </div>


   <!--Building modal-->
<div class="modal fade" id="buildingModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal"><icon class="mif-info icon mr-4"></icon>Barangay Indigency</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- START FORM -->
      <form action="/generate_building/" method="post">
          {% csrf_token %}
      <div class="modal-body">
              <p><b>Date When Will Building Permit Be Given</b></p>
              <input type="date" data-role="input" class="" name="date" required>

              <!-- Hidden Data -->
              <input type="hidden" name="building_full_name" id="building_full_name"/> 
              <input type="hidden" name="building_age" id="building_age"/> 
              <input type="hidden" name="building_resident_id" id="building_resident_id"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><icon class="mif-cancel mr-3"></icon>Close</button>
        <button type="submit" class="btn btn-primary"><icon class="mif-arrow-right mr-3"></icon>Proceed</button>
      </form>
      </div>
    </div>
  </div>
</div>

<!--Residency modal-->
<div class="modal fade" id="residencyModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal"><icon class="mif-info icon mr-4"></icon>Barangay Residency</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- START FORM -->
      <form action="/generate_residency/" method="post">
          {% csrf_token %}
      <div class="modal-body">
              <p><b>Date When Will Residency Be Given</b></p>
              <input type="date" data-role="input" class="" name="date" required>

              <!-- Hidden Data -->
              <input type="hidden" name="residency_full_name" id="residency_full_name"/> 
              <input type="hidden" name="residency_age" id="residency_age"/> 
              <input type="hidden" name="residency_civil_status" id="residency_civil_status"/> 
              <input type="hidden" name="residency_birthdate" id="residency_birthdate"/> 
              <input type="hidden" name="residency_birthplace" id="residency_birthplace">
              <input type="hidden" name="residency_resident_id" id="residency_resident_id"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><icon class="mif-cancel mr-3"></icon>Close</button>
        <button type="submit" class="btn btn-primary"><icon class="mif-arrow-right mr-3"></icon>Proceed</button>
      </form>
      </div>
    </div>
  </div>
</div>

<!--Wiring modal-->
<div class="modal fade" id="wiringModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal"><icon class="mif-info icon mr-4"></icon>Barangay Residency</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- START FORM -->
      <form action="/generate_wiring/" method="post">
          {% csrf_token %}
      <div class="modal-body">
              <p><b>House Location</b></p>
              <input type="text" data-role="input" class="" name="house_location" required>

              <p><b>Date When Will Wiring Permit Be Given</b></p>
              <input type="date" data-role="input" class="" name="date" required>

              <!-- Hidden Data -->
              <input type="hidden" name="wiring_full_name" id="wiring_full_name"/> 
              <input type="hidden" name="wiring_resident_id" id="wiring_resident_id"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><icon class="mif-cancel mr-3"></icon>Close</button>
        <button type="submit" class="btn btn-primary"><icon class="mif-arrow-right mr-3"></icon>Proceed</button>
      </form>
      </div>
    </div>
  </div>
</div>


<!--Excavation modal-->
<div class="modal fade" id="excavationModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal"><icon class="mif-info icon mr-4"></icon>Excavation Clearance</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- START FORM -->
      <form action="/generate_excavation/" method="post">
          {% csrf_token %}
      <div class="modal-body">
              <p><b>House Location</b></p>
              <input type="text" data-role="input" class="" name="house_location" required>

              <p><b>Date When Will Fencing Clearance Be Given</b></p>
              <input type="date" data-role="input" class="" name="date" required>

              <!-- Hidden Data -->
              <input type="hidden" name="excavation_full_name" id="excavation_full_name"/> 
              <input type="hidden" name="excavation_resident_id" id="excavation_resident_id"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><icon class="mif-cancel mr-3"></icon>Close</button>
        <button type="submit" class="btn btn-primary"><icon class="mif-arrow-right mr-3"></icon>Proceed</button>
      </form>
      </div>
    </div>
  </div>
</div>

<!--Fencing modal-->
<div class="modal fade" id="excavationModal" tabindex="-1" aria-labelledby="fencingModal" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal"><icon class="mif-info icon mr-4"></icon>Fencing Clearance</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- START FORM -->
      <form action="/generate_fencing/" method="post">
          {% csrf_token %}
      <div class="modal-body">
              <p><b>House Location</b></p>
              <input type="text" data-role="input" class="" name="house_location" required>

              <p><b>Date When Will Fencing Clearance Be Given</b></p>
              <input type="date" data-role="input" class="" name="date" required>

              <!-- Hidden Data -->
              <input type="hidden" name="fencing_full_name" id="fencing_full_name"/> 
              <input type="hidden" name="fencing_resident_id" id="fencing_resident_id"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><icon class="mif-cancel mr-3"></icon>Close</button>
        <button type="submit" class="btn btn-primary"><icon class="mif-arrow-right mr-3"></icon>Proceed</button>
      </form>
      </div>
    </div>
  </div>
</div>

<!--Water modal-->
<div class="modal fade" id="waterModal" tabindex="-1" aria-labelledby="fencingModal" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal"><icon class="mif-info icon mr-4"></icon>Water Installation Permit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- START FORM -->
      <form action="/generate_water/" method="post">
          {% csrf_token %}
      <div class="modal-body">
              <p><b>House Location</b></p>
              <input type="text" data-role="input" class="" name="house_location" required>

              <p><b>Date When Will Water Installation Permit Be Given</b></p>
              <input type="date" data-role="input" class="" name="date" required>

              <!-- Hidden Data -->
              <input type="hidden" name="water_full_name" id="water_full_name"/> 
              <input type="hidden" name="water_resident_id" id="water_resident_id"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><icon class="mif-cancel mr-3"></icon>Close</button>
        <button type="submit" class="btn btn-primary"><icon class="mif-arrow-right mr-3"></icon>Proceed</button>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}