{% extends 'base.html' %}
{% block content %}
<div class="resident_record_content">
    <header style="width: 100vw;" class="bg-cyan p-2">
        <h5>Home</h5>
    </header>
    <h3 class="p-5">Manage Officials</h3>
    <div class="m-5" style="width:80%;">
        <button class="button primary" style="float: right;"><icon class="mif-add icon mr-3"></icon>Add Official</button>
        <br>
        <br>
        <table class="table striped table-border mt-4"
        data-role="table"
       data-rows-steps="5, 10"
        data-rows="5">
            <thead>
                <tr class="bg-grayWhite">
                    <th>PHOTO</th>
                    <th>NAME</th>
                    <th>POSITION</th>
                    <th>TERM FROM-TO</th>
                    <th>STATUS</th>
                    <th>PUROK</th>
                    <th>TOOLS</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="../static/images/idea.png" alt=""></td>
                        <td>Divina Santos</td>
                        <td>SK CHAIRMAN</td>
                        <td>JULY 20, 2019 - JULY 20, 2020</td>
                        <td>Active</td>
                        <td>Campupot</td>
                        <td>
                            <button class="button success mif-pencil icon" data-role="popover" data-popover-text="Edit"
                            data-popover-position="top" data-popover-hide="1000"></button>
                            <button class="button secondary mif-bin "  data-role="popover" data-popover-text="Delete"
                            data-popover-position="top" data-popover-hide="1000"></button>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>
{% endblock content %}