{% extends 'base.html' %}
{% block content %}
<div class="report-content">
    <header style="width: 100vw;" class="bg-cyan p-2">
        <h5>Home</h5>
    </header>
    <h3 class="p-5">Reports</h3>
    <div class="p-5" style="width: 80%;">
        <div class="grid">
            <div class="row">
    
            <div class="cell">
                <div class="more-info-box bg-grayBlue fg-white">
                    <div class="content">
                        <h2 class="text-bold mb-0">{{total_residents}}</h2>
                        <div>Total Residents</div>
                    </div>
                    <div class="icon">
                        <span class="mif-user-plus"></span>
                    </div>
                    <a href="{% url 'resident_record' %}" class="more"> More info <span class="mif-arrow-right"></span></a>
                </div>
            </div>
    
            <div class="cell">
                <div class="more-info-box bg-emerald fg-white">
                    <div class="content">
                        <h2 class="text-bold mb-0">{{total_blotter}}</h2>
                        <div>Total Blotters</div>
                    </div>
                    <div class="icon">
                        <span class="mif-chart-bars"></span>
                    </div>
                    <a href="{% url 'blotter_records' %}" class="more"> More info <span class="mif-arrow-right"></span></a>
                </div>
            </div>
    
            <div class="cell">
                <div class="more-info-box bg-amber fg-white">
                    <div class="content">
                        <h2 class="text-bold mb-0">{{total_certificates}}</h2>
                        <div>Certificates</div>
                    </div>
                    <div class="icon">
                        <span class="mif-folder"></span>
                    </div>
                    <a href="{% url 'manage_certificate' %}" class="more"> More info <span class="mif-arrow-right"></span></a>
                </div>
            </div>
    
            <div class="cell">
                <div class="more-info-box bg-red fg-white">
                    <div class="content">
                        <h2 class="text-bold mb-0">{{total_officials}}</h2>
                        <div>Barangay Officials</div>
                    </div>
                    <div class="icon">
                        <span class="mif-chart-pie"></span>
                    </div>
                    <a href="{% url 'list_of_official' %}" class="more"> More info <span class="mif-arrow-right"></span></a>
                </div>
            </div>
            </div>
        </div>
        <!-- <table class="table">
            <thead>
            <tr class="bg-cyan">
                <th>Certificate Reports</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <p><b>Transaction Type</b></p>
                    <input type="text" data-role="input" class="" placeholder="Enter transaction type">
                </td>
            </tr>
            </tbody>
        </table> -->
    </div>
</div>
{% endblock content %}
