{% extends 'base.html' %}
{% block content %}
<div class="resident_record_content">
    <header style="width: 100vw;" class="bg-cyan p-2">
        <h5>Home</h5>
    </header>
    <h3 class="p-5">Resident Record</h3>
    <div class="m-5" style="width:80%;">
        <table class="table striped table-border mt-4"
        data-role="table"
       data-rows-steps="5, 10"
        data-rows="5">
            <thead>
                <tr class="bg-grayWhite">
                    <th>STATUS</th>
                    <th>PHOTO</th>
                    <th>NAME</th>
                    <th>GENDER</th>
                    <th>PUROK</th>
                    <th>STREET</th>
                    <th>TOOLS</th>
                </tr>
                </thead>
                {% for resident in resident_data %}
                <tbody>
                    <tr>
                        <td>{{resident.status}}</td>
                        <td><img src="{{resident.resident_img_url}}" alt="" width="15%"></td>
                        <td>{{resident.first_name}} {{resident.middle_name}} {{resident.last_name}}</td>
                        <td>{{resident.gender}}</td>
                        <td>{{resident.purok}}</td>
                        <td>{{resident.street}}</td>
                        <td>
                            <button class="button primary mif-eye icon" data-role="popover" data-popover-text="View"
                            data-popover-position="top" data-popover-hide="1000" onclick="viewResident('{{resident.resident_id}}')"></button>
                            <button class="button success mif-pencil icon" data-role="popover" data-popover-text="Edit"
                            data-popover-position="top" data-popover-hide="1000" onclick="editResident('{{resident.resident_id}}')"></button>
                            <button class="button secondary mif-bin "  data-role="popover" data-popover-text="Delete"
                            data-popover-position="top" data-popover-hide="1000" onclick="deleteResident('{{resident.resident_id}}')"></button>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}